body{
  margin:0;
}

#pano{
  background-color:black;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index:-1;
}

#map{
  height: 400px;
  width: 450px;
  overflow:hidden;
  position: absolute;
  z-index:999;
  opacity: 0.8;
  left:10px;
  top:40px;
    border-radius: 9px;
}

#mapSize{
  width:20px;
  height:20px;
  left:440px;
  top:408px;
  overflow:hidden;
  position: absolute;
  z-index:999;
  cursor:pointer;
  color: #0070a5;
  opacity: 0.4;
}

#mapSize.slided{
  left:20px;
  top:50px;
}

#text{
  font-family: Helvetica;
      font-size: 14pt;
      padding-top: 5px;
      color: #0070a5;
      position: absolute;
      bottom: 120px;
      left: 10px;
      top: 3px;
      width: 446px;
      height: 25px;
      z-index: -1;
      opacity: 0.5;
      background-color: black;
      border-radius: 9px;
      padding: 3;
      text-align: center;
      padding-left: 5px;
  }


#chart{
  font-family: Helvetica;
  font-size:14pt;
  padding-top:5px;
  background-color:black;
  color:#0070a5;
  position: absolute;
  bottom:10px;
  right:10px;
  left:10px;
  height: 120px;
  z-index:-1;
  opacity: 0.4;
  border-radius: 9px;
  padding-left: 5px;

  }


  #chartSize{
    width:20px;
    height:20px;
    left:20px;
    bottom:20px;
    overflow:hidden;
    position: absolute;
    z-index:999;
    cursor:pointer;
    color: #0070a5;
    opacity: 0.4;
  }

#videoControls{

  overflow:hidden;
  position: absolute;
  z-index:999;
  cursor:pointer;
  color: #0070a5;
  opacity: 0.4;
   left: 50%;
   width:16em;
   bottom: 160px;
   margin-left: -8em; /*set to a negative number 1/2 of your width*/*/

}

#videoControls:hover{
  opacity: 0.8;
}

#videoControls .pause{
  display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
